    <div class="jumbotron center">
    <h1>Página Principal</h1>
    <table class="table">
        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h2>Lista Incidentes</h2>
      <div class="panel-body">
         <tr>
    	    <th><h3>ID</h3></th>
    		<th><h3>Asunto</h3></th>
    		<th><h3>Descripcion</h3></th>
    		<th><h3>Responsable</h3></th>
    		<th><h3>Tipo</h3></th>
    		<th><h3>Prioridad</h3></th>
          </tr>
    <% @incidentes.each do |p| %>
    	<tr>
    		<th><%= p.id %></th>
    		<th><%= p.asunto %></th>
    		<th><%= p.descripcion %></th>
    		<th><%= p.responsable %></th>
    		<th><%= p.tipo %></th>
    		<th><%= p.prioridad %></th>
    	</tr>
    <% end %>
    </table>

</div>