
<!-- Construcción de condiciones de filtro para la busqueda de incidentes -->
<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select %>
  <% end %>
  <%= f.predicate_select only: [:cont, :eq, :gteq, :lteq] %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value, placeholder: "Buscar..."  %>
  <% end %>
</div>