<td><%= asunto %></td>
<td><%= descripcion %></td>
<td><%= responsable %></td>
<td><%= tipo %></td>
<td><%= prioridad %></td>

<td><a href="#/<%= id %>">Mostrar</td>
<td><a href="#/<%= id %>/edit">Editar</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Borrar</a></td>