<p>
  <b>Asunto:</b>
  <%= asunto %>
</p>

<p>
  <b>Descripcion:</b>
  <%= descripcion %>
</p>

<p>
  <b>Responsable:</b>
  <%= responsable %>
</p>

<p>
  <b>Tipo:</b>
  <%= tipo %>
</p>

<p>
  <b>Prioridad:</b>
  <%= prioridad %>
</p>


<a href="#/index">Atrás</a>